@charset "UTF-8";

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.container-fluid .navbar-header {
    margin-left: 20px;
}

.navbar-header .navbar-brand {
    color: #fff
}

.header_user {
    line-height: 50px;
    color: #fff;
    font-size: 13px;
}

/*主题区域*/

.main {
    width: 750px;
    margin: 100px auto;
}

.panel_item {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.main a {
    width: 170px;
    height: 170px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 20px;
    line-height: 170px;
    color: #000;
    transition: all 0.5s;
}

.main a:hover {
    text-decoration: none;
    box-shadow: 0 0 7px 2px #cccccc;
    transition: all 0.5s;
}

.main .panel_item:nth-child(1) a:nth-child(1) {
    background-color: #A5D6A7;
}

.main .panel_item:nth-child(1) a:nth-child(2) {
    background-color: #C5E1A5;
}

.main .panel_item:nth-child(1) a:nth-child(3) {
    background-color: #E6EE9C;
}

.main .panel_item:nth-child(2) a:nth-child(1) {
    background-color: #00E676;
}

.main .panel_item:nth-child(2) a:nth-child(2) {
    background-color: #76FF03;
}

.main .panel_item:nth-child(2) a:nth-child(3) {
    background-color: #C6FF00;
}
