@charset "UTF-8";
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/*主题区域*/
#container {
    height: 100%;
    width: 100%;
}

/*定位按钮*/
.location-bg {
    background-color: #fefefe;
    height: 35px;
    width: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -60px;
}

/*定位图片*/
.location-bg > img {
    text-align: center;
    height: 22px;
    width: 22px;
}

.makerStyle {
    background-color: #8BC34A;
    font-size: 12px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.infoWindow {
    width: 280px;
    height: 130px;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 6px #888;
    padding-bottom: 20px;
}

.infoWindow .info_arrow {
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    padding-left: 0 !important;
    position: absolute;
    left: 125px;
    bottom: -15px;
    background-color: #ffffff;
    z-index: 4;
    padding-right: 0;
}

.info_title {
    background-color: #8bc34a;
    height: 28px;
    line-height: 28px;
    color: #fff;
    padding-left: 10px;
}

.infoWindow > div {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.info_name {
    margin-top: 10px;
}

.info_address {
    color: #434754;
}

.info_type {
    color: #434754;
}

.info_dis {
}

.dis_span {
    color: #FA2D00;
    font-weight: bold;
}

.info_close {
    position: absolute;
    width: 15px;
    height: 26px;
    right: 0;
    top: 0;
    border: 1px solid #8bc34a;
    line-height: 26px;
    font-size: 20px;
    color: #2f5403;
    border-radius: 50%;
}

.info_close > img {
    margin-top: 3px;
    right: 3px;
    width: 20px;
}

.loc_circle {
    width: 50px;
    height: 50px;
    border: 2px solid #49B3F4;
    border-radius: 50px;
    background-color: #64C7FA;
    opacity: 0.5;
}

.loc_img {
    position: relative;
    left: 20px;
    top: -34px;
}