<!DOCTYPE html>
<html>
  <head>
    <title>后台管理</title>
    <style type="text/css" rel="stylesheet">
      html,body{width:100%;height:100%;margin:0;padding:0;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
      .header{height:40px;width:100%;background-color:#242424;position:fixed;}
      .header_title{line-height:40px;margin-left:60px;color:#fff;font-size:15px;}
      .header_user{font-size:12px;margin-left:20px;color:#ccc;}
      .panel{width:606px;height:500px;margin-left:auto;margin-right:auto;padding-top:100px;}
      .panel_item{width:606px;height:200px;}
      a{text-decoration: none;color:#fff;}
      .panel_item>a{width:300px;height:200px;display:inline-block;line-height:200px;font-size:30px;color:#fff;text-align:center;}
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header_title"><a href="/">后台管理系统</a><span class="header_user">欢迎你,Admin</span></div>
    </div>
    <div class="panel">
      <div class="panel_item">
        <a style="background-color:#39A3F9;" href="/edit?type=it">互联网</a>
        <a style="background-color:#D33733;" href="/edit?type=cookies">笑料</a>
      </div>
      <div class="panel_item">
        <a style="background-color:#1B924A;" href="/edit?type=manager">管理</a>
        <a style="background-color:#FEC536;" href="/edit?type=sanwen">散文</a>
      </div>
      <div class="panel_item">
        <a style="background-color:#D94C59;" href="/tuijian">模块配置</a>
      </div>
    </div>
  </body>
</html>
