<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="container-fluid">
    <!-- 导航条 -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">后台管理系统</a>
                <span class="header_user">欢迎你, admin</span>
                <span class="header_exit"><a href="/exit">安全退出</a></span>
            </div>
        </div>
    </nav>
    <!--五个模块-->
    <div class="main">
        <div class="panel_item">
            <a href="/edit/it">互联网</a>
            <a href="/edit/cookies">笑料</a>
            <a href="/edit/manager">管理</a>
        </div>
        <div class="panel_item">
            <a href="/edit/prose">散文</a>
            <a href="/config">模块配置</a>
            <a href="#">人员管理</a>
        </div>
    </div>
</div>

<!--第三方资源-->
<script type="text/javascript" src="/js/lib/jquery-2.2.3.min.js"></script>
<script src="/js/lib/bootstrap3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
